@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

body {
    margin: 0;
    padding: 0;
}

ion-icon {
    pointer-events: none;
}

.nav-container {
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    background: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

nav .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .logo img {
    width: 35px;
}

nav ul {
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav .nav-social {
    color: rgb(43, 43, 43);
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 25px;
}

.nav-social>div {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tooltiptext {
    display: none;
    position: absolute;
    z-index: 1;
    padding: 5px 8px;
    font-size: 15px;
    top: 60px;
    border-radius: 6px;
    text-align: center;
    background-color: rgba(80, 73, 73, 0.801);
    color: #fff;
}

.cv-icon:hover #cv-tooltiptext {
    display: block;
}

.github-icon:hover #github-tooltiptext {
    display: block;
}

.linkedin-icon:hover #linkedin-tooltiptext {
    display: block;
}

nav .nav-menu {
    display: none;
    font-size: 25px;
}

@media screen and (max-width: 768px) {
    nav ul {
        gap: 20px;
    }

    nav .nav-social {
        gap: 10px;
    }
}

@media screen and (max-width: 480px) {

    nav .logo img {
        width: 30px;
    }

    nav ul {
        display: none;
    }

    nav .nav-social {
        display: none;
    }

    nav .nav-menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}