@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400&display=swap');


body {
    margin: 0;
    padding: 0;
}

ion-icon {
    pointer-events: none;
}

.nav-container {
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    height: 50px;
    background: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
}

nav .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .logo img {
    width: 35px;
}

nav ul {
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    cursor: pointer;
    font-size: 1.1em;
    border-bottom: 0px solid rgba(255, 255, 255, 0);
    transition: all 0.2s ease-in-out;
}

nav ul li:hover {
    font-size: 1.2em;
    border-bottom: 3px solid rgb(165, 241, 43);
}

nav .nav-social {
    color: rgb(65, 65, 65);
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 25px;
}

.nav-social>div {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tooltiptext {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    padding: 5px 8px;
    font-size: 15px;
    top: 60px;
    border-radius: 6px;
    text-align: center;
    background-color: rgba(80, 73, 73, 0.801);
    color: #fff;
}

.cv-icon:hover .cv-tooltiptext {
    visibility: visible;
}

.github-icon:hover .github-tooltiptext {
    visibility: visible;
}

.linkedin-icon:hover .linkedin-tooltiptext {
    visibility: visible;
}

nav .nav-menu {
    display: none;
    font-size: 25px;
}


section.about-me {
    /* background-image: linear-gradient(120deg, #f1fafd 0%, #d7f1fd 100%); */
    background: #faf9f9;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    margin-top: 80px;
    font-family: 'Poppins', sans-serif;
    display: flex;
}

section.about-me .info {
    padding: 100px 180px;
    width: 45vw;
}

section.about-me .hi {
    opacity: 0.8;
    font-size: 40px;
}

section.about-me .name {
    text-transform: uppercase;
    color: #df401d;
    font-size: 80px;
    font-weight: 700;
}

section.about-me .role {
    margin: 15px 0;
    border-radius: 30px;
    color: rgb(0, 73, 141);
    font-size: 20px;
}

section.about-me .summary {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    opacity: 0.8;
}

section.about-me .btn {
    margin-top: 40px;
}

section.about-me .btn button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 20px;
    color: #ece1a7;
    outline: none;
    border: none;
    background: #1c2d53;
    transition: all 0.3s ease;
}


section.about-me .btn button:hover {
    opacity: 0.9;
}



@media screen and (max-width: 768px) {

    nav {
        height: 42px;
    }

    nav ul {
        gap: 20px;
    }

    nav .nav-social {
        gap: 10px;
    }
}

@media screen and (max-width: 480px) {

    nav .logo img {
        width: 30px;
    }

    nav ul {
        display: none;
    }

    nav .nav-social {
        display: none;
    }

    nav .nav-menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}