@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

ion-icon {
    pointer-events: none;
}

.nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.nav-overlay{
    display: none;
    position: fixed;
    background: rgb(0 0 0 / 55%);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 3;
    animation: fadeIn 0.4s;
}

.nav-mobile{
    transform: translateX(100%);
    position: fixed;
    background: white;
    width: 320px;
    max-width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    transition: all 0.4s linear;
}

.nav-mobile .hide-btn{
    padding: 20px;
    font-size: 25px;
}

.nav-mobile ul{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.nav-mobile ul li{
    margin-top: 20px;
    margin-left: 40px;
    transition: all 0.2s ease-in-out;
}

.nav-mobile ul li:hover{
    font-size: 1.2em;
}

nav {
    height: 70px;
    background: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

nav .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .logo img {
    width: 35px;
}

nav ul {
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    cursor: pointer;
    font-size: 1.1em;
    border-bottom: 0px solid rgba(255, 255, 255, 0);
    transition: all 0.2s ease-in-out;
}

nav ul li:hover {
    font-size: 1.2em;
    border-bottom: 3px solid rgb(165, 241, 43);
}

nav .nav-social {
    color: rgb(65, 65, 65);
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 25px;
}

.nav-social>div {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tooltiptext {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    padding: 5px 8px;
    font-size: 15px;
    top: 60px;
    border-radius: 6px;
    text-align: center;
    background-color: rgba(80, 73, 73, 0.801);
    color: #fff;
}

.cv-icon:hover .cv-tooltiptext {
    visibility: visible;
}

.github-icon:hover .github-tooltiptext {
    visibility: visible;
}

.linkedin-icon:hover .linkedin-tooltiptext {
    visibility: visible;
}

nav .nav-menu {
    display: none;
    font-size: 25px;
}


section.about-me .background {
    background-position: right;
    background-position-x: 90%;
    background-repeat: no-repeat;
    background-size: 450px;
    background-image: url("https://www.kindpng.com/picc/m/497-4973038_profile-picture-circle-png-transparent-png.png");
    background-image: url("/images/duy-cirlce.png");

}

section.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-image: linear-gradient(120deg, #f1fafd 0%, #d7f1fd 100%);
    background: #ffffff;
    background-size: 100% 100%;
    width: 95%;
    margin-top: 90px;
    font-family: 'Poppins', sans-serif;
    border-radius: 30px;
}

section.about-me .small-background img {
    display: none;
}

section.about-me .info {
    padding: 150px 180px;
    width: 60%;
}

section.about-me .hi {
    opacity: 0.8;
    font-size: 40px;
}

section.about-me .name {
    margin: 20px 0;
    text-transform: uppercase;
    color: #484dae;
    font-size: 80px;
    font-weight: 700;
    line-height: 100%;
}

section.about-me .role {
    font-weight: 600;
    font-family: monospace;
    margin: 15px 0;
    border-radius: 30px;
    color: rgb(18, 89, 155);
    font-size: 20px;
}

section.about-me .summary {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    opacity: 0.8;
}

section.about-me .btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

section.about-me .btn button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 20px;
    color: #ffffff;
    outline: none;
    border: none;
    background: #17bc78;
    background: linear-gradient(to right, #23a871, #1c9663);
    transition: all 0.3s ease;
}

section.about-me .btn button:hover {
    opacity: 0.9;
}

@media screen and (max-width: 1200px) {
    section.about-me .background {
        background-size: 400px;
        background-position-x: 100%;
    }

    section.about-me .info {
        padding: 4vw;
        width: 55%;
    }

    section.about-me .name {
        font-size: 70px;
    }
}

@media screen and (max-width: 768px) {

    nav {
        height: 62px;
    }

    nav ul {
        gap: 20px;
    }

    nav .nav-social {
        gap: 10px;
    }


    section.about-me .info {
        width: 100%;
        padding: 10vw;
    }

    section.about-me .background {
        background: none;
    }

    section.about-me .small-background img {
        display: block;
        text-align: center;
        width: 40vw;
    }
}

@media screen and (max-width: 480px) {

    nav .logo img {
        width: 30px;
    }

    nav ul {
        display: none;
    }

    nav .nav-social {
        display: none;
    }

    nav .nav-menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section.about-me {
        width: 100%;
    }

    section.about-me .hi {
        font-size: 30px;
    }

    section.about-me .name {
        font-size: 45px;
    }

    section.about-me .role {
        font-size: 18px;
    }

    section.about-me .summary {
        font-size: 16px;
    }

    section.about-me .btn button {
        padding: 8px 15px;
        font-size: 16px;
    }
}


/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#hello-hand {
    display: inline-block;
    animation-duration: 1s;
    animation-name: handshake-up, handshake-down;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes handshake-up {
    from {
        transform: rotate(-30deg);
    }

    to {
        transform: rotate(30deg);
    }
}

@keyframes handshake-down {
    from {
        transform: rotate(30deg);
    }

    to {
        transform: rotate(-30deg);
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    } to{
        opacity: 1;
    }
}