@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap);

* {
    box-sizing: border-box;
}

ion-icon {
    pointer-events: none
}

#toast__container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 90%;
    z-index: 100;
}

.toast {
    background: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    width: 400px;
    max-width: 100%;
    padding: 25px 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    transition: all 0.3s linear;
    animation: appear ease 1s, fadeOut ease 0.6s 4s forwards;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(-120%) scale(0);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateY(-120%) scale(0.8);
    }
}

.toast__icon {
    font-size: 28px;
}

.toast--success .toast__icon {
    color: rgb(55, 164, 55);
}

.toast--error .toast__icon {
    color: rgb(224, 54, 54);
}

.toast__content {
    margin: 0px 5px 0px 15px;
}


.toast__title_time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right:20px;
    margin-bottom: 10px;
}

.toast__time {
    color: #818181;
    font-size: 16px;
}

.toast__title {
    color: #363636;
    font-weight: 600;
    font-size: 17px;
}

.toast__message {
    color: #3b3a3a;
    font-weight: 400;
}

.toast__close {
    cursor: pointer;
    display: flex;
    border-radius: 50%;
    padding: 2px;
    background: rgb(226, 224, 224);
    position: absolute;
    top: 12px;
    right: 12px;
    transition: all 0.3s ease-in-out;
}

.toast__close:hover {
    color: white;
    background: rgb(230, 61, 61);
}


@media screen and (max-width:480px) {
    .toast__title_time {
        margin-bottom: 7px;
    }

    .toast__title{
        font-size: 16px;
    }

    .toast__time{
        font-size: 14px;
    }

    .toast__message {
        font-size: 14px;
    }
}